@using Audemus.Core
@model  Contact

<div class="card card-default">
    <div class="card-header">
        <h5 class="text-center">@Model.Name</h5>
    </div>
    <div class="card-body">
        <span>Phone: @Model.Phone</span>
        <span>Response: @Model.EmployeeContact</span>
    </div>
    <div class="card-footer">
        <a class="btn btn-sm" asp-page="./Detail" asp-route-contactId="@Model.Id">
            <i class="far fa-address-card"></i>
        </a>
       
        
            <a class="btn btn-sm" asp-page="./Edit" asp-route-contactId="@Model.Id">
                <i class="fas fa-user-edit"></i>
            </a>

            <a class="btn btn-sm" asp-page="./Delete" asp-route-contactId="@Model.Id">
                <i class="fas fa-trash-alt"></i>
            </a>
    </div>

</div>

