@page "{contactId:int}"
@model Audemus.Pages.Contacts.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Contact.Name</h2>
<div>
    Id: @Model.Contact.Id
</div>
<div>
    Address1: @Model.Contact.StreetNumber @Model.Contact.StreetName
</div>

<div>
    Address2: @Model.Contact.CityLocation, @Model.Contact.StateLocation
</div>

<div>
    Email: @Model.Contact.Email
</div>
<div>
    Phone: @Model.Contact.Phone
</div>
<div>
    Call Date: @Model.Contact.DateAttempted
</div>
<div>
    Sit-Rep: @Model.Contact.EmployeeContact
</div>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-danger">Back</a>
