@page
@model Audemus.Pages.Contact.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Contacts</h1>

<table class="table">
    @foreach(var contact in Model.Contact)
        <tr>
            <td>@contact.Name</td>
            <td>@contact.CityLocation</td>
            <td>@contact.StateLocation</td>
            <td>@contact.Phone</td>
            <td>@contact.Email</td>
        </tr>

</table>